<!DOCTYPE html>
<html lang="en">
      <head>
            <meta charset="UTF-8" />
            <meta
                  name="viewport"
                  content="width=device-width, initial-scale=1.0" />
            <title>OhMyFood</title>
      </head>
      <body>
            <footer>
                  <img
                        src="../assets/images/logo/ohmyfood@2x.svg"
                        alt="Logo ohmyfood" />
                  <div class="links_container">
                        <ul>
                              <li>
                                    <i></i
                                    ><a href="#">Proposer un restaurant</a>
                              </li>
                              <li><i></i><a href="#">Devenir partenaire</a></li>
                              <li><a href="#">Mentions légales</a></li>
                              <li><a href="#">Contact</a></li>
                        </ul>
                  </div>
            </footer>
      </body>
</html>
