<!DOCTYPE html>
<html lang="en">
      <head>
            <meta charset="UTF-8" />
            <meta
                  name="viewport"
                  content="width=device-width, initial-scale=1.0" />
            <title>OhMyFood</title>
      </head>
      <body>
            <header>
                  <nav>
                        <h1>ohmyfood</h1>
                  </nav>

                  <!-- Recherche et affichage de la localisation -->
                  <div class="geoloc_search">
                        <i></i>
                        <input
                              type="search"
                              value="Paris, Belleville"
                              name="localisation" />
                  </div>
            </header>
      </body>
</html>
